@font-face {
    font-family: RobertoBold;
    src: url("./assets/fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: RobertoRegular;
    src: url("./assets/fonts/Roboto-Regular.ttf");
}

@media screen and (max-width: 73.0625em) {

    html,
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        max-height: 200dvh;
    }

    .main {
    }

    main>img {
        width: 100%;
    }

    h1 {
        font-family: RobertoBold;
        font-weight: 700;
        margin-bottom: 0;
    }

    .info {
        font-family: RobertoRegular;
        font-weight: 400;
        padding: 1% 5%;
    }

    ul {
        list-style-type: none;
        padding-left: 1%;
        list-style-position: outside;
    }

    li::before {
        content: url('./assets/images/icon-list.svg');
        padding-right: 5%;
        vertical-align: sub;
        height: 2rem;
    }

    .exp {
        display: flex;
        gap: 0.5rem;
        margin-top: 6%;
    }

    .exp>img {
        align-self: start;
    }

    .exp>p {
        margin: 0;
        line-height: 1.5rem;
    }

    .email {
        display: flex;
        margin-top: 10%;
        margin-bottom: 2%;
        justify-content: space-between;
    }

    .email>p {
        font-size: 0.75rem;
        font-family: RobertoBold;
        font-weight: 400;
        margin: 0;
    }

    .email>p:nth-of-type(2) {
        color: hsl(4, 100%, 67%);
    }

    input {
        appearance: none;
        height: 3.7rem;
        width: 100%;
        margin-bottom: 8%;
        box-sizing: border-box;
        border-radius: 0.625rem;
        position: relative;
        border-style: none;
        outline: 1px solid hsl(235, 18%, 26%);
        padding-left: 1.5rem;
    }

    span {
        font-family: RobertoBold;
        color: hsl(235, 18%, 26%);
        font-weight: 700;
    }

    button {
        height: 3.5rem;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-radius: 0.625rem;
        font-family: RobertoBold;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
        background-color: hsl(234, 29%, 20%);
        border: 0;
    }

    .success {
        padding: 0% 10%;
    }

    .success>div>p {
        font-family: RobertoRegular;
        font-weight: 400;
    }

    h1 {
        font-family: RobertoBold;
        font-weight: 700;
    }

    .success>button {
        margin-top: 45%;
    }

    .success>div {
        margin-top: 40%;
    }

}

@media screen and (min-width: 73.0625em) {

    body,
    html {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-color: hsl(0, 0%, 94%);
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        display: flex;
        padding: 1%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 1rem;
    }

    main>img {
        order: 2;
    }

    h1 {
        font-size: 3.7rem;
        margin-bottom: 7%;
        margin-top: 5%;
    }

    .info {
        padding: 5% 4%;
        font-family: RobertoRegular;
        font-weight: 400;
    }

    .exp {
        display: flex;
        margin: 5.5% 0;
        gap: 1rem;
    }

    .exp>p {
        margin: 0;
    }

    .email {
        display: flex;
        justify-content: space-between;
    }

    .email>p {
        font-size: 0.75rem;
        font-family: RobertoBold;
        font-weight: 400;
    }

    .email>p:nth-of-type(2) {
        color: hsl(4, 100%, 67%);
    }

    input {
        height: 3.8rem;
        width: 100%;
        border-style: none;
        outline: 1px solid hsl(235, 18%, 26%);
        padding: 0;
        margin-bottom: 6%;
        box-sizing: border-box;
        padding-left: 1.5rem;
        border-radius: 0.5rem;
    }

    input:hover {
        cursor: pointer;
    }

    button {
        height: 3.5rem;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-radius: 0.625rem;
        font-family: RobertoBold;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
        background-color: hsl(234, 29%, 20%);
        border: 0;
    }

    button:hover {
        background-color: rgba(255, 103, 62, 255);
        cursor: pointer;
        box-shadow: -0.2rem 1rem 50rem hsl(0, 81%, 85%);
    }

    span {
        font-family: RobertoBold;
        color: hsl(235, 18%, 26%);
        font-weight: 700;
    }

    .success {
        width: 30%;
        padding: 4%;
        box-sizing: border-box;
        border-radius: 4%;
        background-color: hsl(0, 0%, 100%);
    }

    .success>div>h1 {
        line-height: 3.5rem;
    }
}
